body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

button.primary {
    background-color: #a854de;
}

button.contained-danger {
    background-color: transparent;
    color: #de4f4f;
}

#result-div {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}